<nav class="navbar">
  <div class="container">
    <a class="logo" 
       routerLink="/" 
       routerLinkActive="active" 
       [routerLinkActiveOptions]="{exact: true}">
      <span class="tech">TECH</span><span class="room">ROOM</span>
    </a>

    <ul class="nav-links">
      <li><a routerLink="/rooms" routerLinkActive="active">Tìm phòng</a></li>

      <li *ngIf="authService.getRole() === 'TENANT'">
        <a routerLink="/tenant/my-bookings" routerLinkActive="active">Hợp đồng đã thuê</a>
      </li>
      <li *ngIf="authService.getRole() === 'LANDLORD'">
    <a routerLink="/landlord/contract-management" routerLinkActive="active">Duyệt đặt phòng</a>
    </li>
      <li *ngIf="authService.getRole() === 'LANDLORD'">
        <a routerLink="/landlord/manage-rooms" routerLinkActive="active">Quản lý phòng</a>
      </li>
      <li *ngIf="authService.getRole() === 'LANDLORD'">
        <a routerLink="/landlord/manage-buildings" routerLinkActive="active">Tòa nhà của tôi</a>
      </li>

      <li *ngIf="authService.getRole() === 'ADMIN'">
        <a routerLink="/admin/reports" routerLinkActive="active">Xử lý báo cáo đánh giá</a>
      </li>
      <li *ngIf="authService.getRole() === 'ADMIN'">
        <a routerLink="/admin/users" routerLinkActive="active">Quản lý người dùng</a>
      </li>
      <li *ngIf="authService.getRole() === 'ADMIN'">
        <a routerLink="/admin/statistics" routerLinkActive="active">Thống kê</a>
      </li>
    </ul>

    <div class="auth-section">
      <ng-container *ngIf="!authService.isAuthenticated(); else loggedIn">
        <a routerLink="/login" class="btn-text">Đăng nhập</a>
        <a routerLink="/register" class="btn-primary">Đăng ký</a>
      </ng-container>

      <ng-template #loggedIn>
        <div class="user-wrapper">
          <div class="user-info">
            <div class="avatar-circle">{{ getFullName().charAt(0).toUpperCase() }}</div>
            <span class="welcome">Chào, <strong>{{ getFullName() }}</strong></span>
          </div>
          <button (click)="onLogout()" class="btn-logout">
            <span>Đăng xuất</span>
          </button>
        </div>
      </ng-template>
    </div>
  </div>
</nav>